/test
/Failed - Test
internetGraph.txt
internetStatusLog.txt
nomes.txt
nomes2.txt
SRTletras.txt
SRTresultado.srt
SRTtempo.txt
startMenuShortcut.txt
votacao_log.txt
votacaoCandidatos.txt
internetGraph.txt
internetStatusLog.txt
